<div class="footer-main-div">
  <div class="container">
    <div class="row">
      <div class="col-xl-3">
        <div class="logo-div">
          <img src="../../assets/images/logo-footer.png">
        </div>
      </div>
      <div class="col-xl-2">
        <div class="footer-info">
         
          <ul>
              <li id="l1"><h6>COMPANY</h6></li><hr>
            <li>About Us</li>
            <li>Strategy</li>
            <li  (click)="gotoContact()">Contact Us</li>
            <li>Portfolio</li>
          </ul>
        </div>
      </div>
      <div class="col-xl-2">
          <div class="footer-info">
            
              <ul>
                  <li id="l2"><h6>LATAXI</h6></li><hr>
                <li>Features</li>
                <li (click)="gotoDispatching()">Solutions</li>
                <li>Free Demo</li>
                <li (click)="gotoDriver()">Driver</li>
                <li (click)="gotoPassenger()">Passenger</li>
              </ul>
            </div>
      </div>
      <div class="col-xl-2">
          <div class="footer-info">
             
                <ul>
                  <li id="l3"><h6>CONTACT US</h6></li><hr>
                  <li>sales@techware.in</li>
                  <li>Phonenumber</li>
                 
                </ul>
              </div>
      </div>
      <div class="col-xl-3 social">
          <div class="footer-info">
              
                <ul>
                    <li id="l4"><h6>SOCIAL MEDIA</h6></li><hr>
                  <li><img src="../../assets/images/fb-footer.png" id="img1"> <img src="../../assets/images/twitter-footer.png"id="img2"></li>
                  <li><img src="../../assets/images/google-footer.png" id="img3"><img src="../../assets/images/linkedin-footer.png"id="img4"></li>
                  
                </ul>
              </div>
      </div>
    </div>
  </div>
</div>
