@import url('https://fonts.googleapis.com/css?family=Rubik:300,300i,400,400i,500,500i,700,700i,900,900i&subset=latin-ext');
.footer-main-div{
    background-color: #1b1b1b;
    padding-left: 20%;
    padding-right: 20%;
    padding-bottom: 2%;
}
.logo-div{
    margin-top: 50px;
    border-right: 1px solid #565656;
}
.footer-info{
    margin-top:40px;
    color: #ffffff;
  
    padding: 0px;
 
    ul{
        padding: 0px;
    }
    li{
        list-style: none;
        color: #c5c5c5;
        padding-bottom: 10px;
        cursor: pointer;
        
    }
    h6{
        font-weight: 600;
        color: #ffffff;
    }
    hr{
        width:30px;
    border: 2px solid #e1bb11;
    border-radius: 5px; 
    position: absolute;
    top:50px;
    
    }
    img{
        padding-left:5px;
    }
}
.social{
    padding-left: 50px;
}
@media only screen and (min-width:320px) and (max-width:720px){
    .footer-main-div{
        padding-left: 0%;
        padding-right: 0%;
        padding-bottom: 2%;
    }
    .logo-div{
        
        border-right: none;
    }
    .social{
        padding-left: 20px;
    }
    
}
@media only screen and (min-width:721px) and (max-width:1440px){
   .footer-main-div{
       padding: 0px;
   }
    .logo-div{
        
        border-right: none;
    }
    .row{
        flex-wrap: nowrap !important;
    }
    .social{
        padding-left: 0px;
    }
}