
<nav class="navbar navbar-expand-lg navbar-dark">
    <div class="top-navbar">
        <ul class="top-ul">
          <li>TrainingVideo</li>
          <li>Reseller</li>
          <li>Support</li>
          <li>Login</li>
          <li id="colors"><img src="../../assets/images/top-phone.png">+91-9049222247</li>
        </ul>
      </div>
      <div class="clear"></div>
    <div class="container-fluid">
   
      
        <div class="navbar-header">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
            
            <a class="navbar-brand" href=""><img src="../../assets/images/main-logo.png"></a>
        </div>
        <div class="collapse navbar-collapse" id="collapsibleNavbar">
          <ul class="nav navbar-nav">
            <li class="back-image" id="back1"><a href="#home">Home</a></li><div class="vertical-line"></div>
            <li class="back-image" id="back2"><a href="#features">Features</a></li><div class="vertical-line"></div>
            <li class="back-image" id="back3"><a href="#benefits">Benefits</a></li><div class="vertical-line"></div>
            <li class="back-image" id="back4"><a href="#demo">Demo</a></li><div class="vertical-line"></div>
            <li class="back-image" id="back5"><a href="#solutions">Solutions</a></li><div class="vertical-line"></div>
            <li class="back-image" id="back6"><a href="#pricing">Pricing</a></li>
          </ul>
          <div class="clear"></div>
        </div>
      </div>
    </nav>


    

    

    
      
      
   
    
