@import url('https://fonts.googleapis.com/css?family=Rubik:300,300i,400,400i,500,500i,700,700i,900,900i&subset=latin-ext');
.navbar {
    flex-flow: wrap !important;
    position: fixed;
    top:0px;
    z-index: 999;
}
.container-fluid{
    background-color: #ffffff;
}
.top-navbar{
    width:100%;
    background-color: #e8e8e8;
    padding: 0px;
    margin: 0px;
}
.top-ul{
    margin-right: 100px;
    float: right;
    margin-top: 10px;
}
.top-navbar img{
    width:20px;
    height:20px;
}
.clear{
    clear: both;
}
#colors{
    color: #103743;
    padding-left: 25px;
}
.top-navbar li{
    display: inline-block;
    padding-left:15px;
    color:#888888;
    font-weight: 400;
    font-size: 14px;
}
.navbar-brand img{
    padding-left: 200px;
    margin-top: 10px;
    margin-bottom: 10px;

}
.navbar-header{
   
    padding: 0px;
    
}
.navbar-nav{
    float: right !important;
    padding-right: 65px;
   
}
.navbar-collapse {
    flex-grow: 0 !important;


}
.vertical-line{
    border-right: 1px solid #dbe1e3;
 
 margin-top: 10px;
 margin-bottom: 10px;
}
.navbar{
    padding: 0px !important;
}
.navbar-toggler{
    padding: 5px 5px;
    font-size: 1.25rem;
    line-height: 1;
    background-color:#103743 !important ; 
    border: 1px solid transparent; 
    border-radius: 0.25rem;  
    float:right ;
    margin-top:20px;
    outline: none;
}
.navbar-collapse a{
    color: #918f8f !important;
    font-size: 13px;
    float: right;
    text-decoration-line: none;
}
.collapse .navbar-collapse a:hover,
.collapse .navbar-collapse a:active{
    color: #103743 !important;
}
.navbar-collapse a{
    padding-left: 20px;
}
.back-image{
    padding-right: 20px;
}
#back1{
    background-image: url(../../assets/images/top-home.png);
    background-repeat: no-repeat; 
    padding-top:10%;
    background-position: 12px;
}
#back2{
    background-image: url(../../assets/images/top-features.png);
    background-repeat: no-repeat; 
    padding-top:10%;
    background-position: 16px;
}
#back3{
    background-image: url(../../assets/images/top-benefits.png);
    background-repeat: no-repeat; 
    padding-top:10%;
    background-position: 18px;
}
#back4{
    background-image: url(../../assets/images/top-demo.png);
    background-repeat: no-repeat; 
    padding-top:10%;
    background-position: 10px;
}
#back5{
    background-image: url(../../assets/images/top-solutions.png);
    background-repeat: no-repeat; 
    padding-top:10%;
    background-position: 20px;
}
#back6{
    background-image: url(../../assets/images/top-price.png);
    background-repeat: no-repeat; 
    padding-top:10%;
    background-position: 18px;
}
@media only screen and (min-width:320px) and (max-width:720px){
    .navbar{
        width:100%;
        padding: 10px;
        margin: 0px;
    }
    .top-navbar li{
        display: inline-block;
        padding:5px;  
    }
    #colors{
        padding-left: 60px;
    padding-top: 10px;
    }
    .top-ul{
        margin-right: 0px;
        margin-left: 0px;
    }
    .navbar-brand img{
        padding-left: 20px;
    }
    .navbar-toggler{
        padding-top: 10px;
        margin-left: 30px;
    }
    .navbar-collapse{
        flex-basis: 90%;
    }
    .navbar-collapse a{
        text-align: center;
        padding-left: 70px;
    }
    
    .back-image{
        padding-right: 20px;
        padding-top: 10px;
        padding-bottom: 20px;
    }
    #back1{
        padding-top: 10%;
    }

}
@media only screen and (min-width:360px) and (max-width:720px){
    .navbar-toggler{
        padding-top: 10px;
        margin-left: 80px;
    } 
    
}
@media only screen and (min-width:760px) and (max-width:800px){
    .navbar-collapse p{
        display: inline;
    }
}
@media only screen and (min-width:410px) and (max-width:720px){
    .navbar-toggler{
        padding-top: 10px;
        margin-left: 120px;
    } 
}
@media only screen and (min-width:768px) and (max-width:876px){
.navbar-header{
    width:90%;
    margin: 0 auto;
    padding: 0px;
}
.navbar-brand img{
    padding-left: 0px;

}
.navbar-collapse{
    flex-basis: 70%;
}
.navbar-nav{
    width:35%;
    margin: 0 auto;
}
.navbar-collapse a{
    text-align: center;
    padding-left: 0px;
}

.back-image{
    padding-right: 0px;
    padding-top: 10px;
    padding-bottom: 20px;
}
#back1{
    padding-top: 10%;
}

}