@import url('https://fonts.googleapis.com/css?family=Rubik:300,300i,400,400i,500,500i,700,700i,900,900i&subset=latin-ext');
.passenger-app{
    background-image: url(../../../assets/images/background-passangerapp.png);
    background-repeat: no-repeat;
   padding-top: 10%;
    padding-bottom: 50px;
}
.taxi-passenger{
    padding-top:100px;
    padding-left: 25%;
    padding-right: 20%;
    text-align: center;
    img{
        padding-left: 30px;
        padding-bottom: 50px;
        width:20%;
        height: 10%;
    }
    h3{
        color: #333333;
        font-weight: 700;
        padding-top: 10px;
        padding-left: 30%;
        padding-right: 30%;
    }
    hr{
        width:30px;
        border: 2px solid #e1bb11;
        border-radius: 5px; 
    }
    p{
        color: #737272;
        padding-left: 10%;
        padding-right: 10%;
        padding-bottom: 10px;
    }
}
.info-passengers{
    background-image: url(../../../assets/images/lataxi-background.png);
    background-repeat: no-repeat;
    padding-bottom: 70px;
}
.custom-info{
    color: #ffffff;
    padding-left: 40px;
    padding-right: 40px;
    text-align: left;
    
    p{
        padding: 0px;
        font-size: 13px;
    }
   
}
.image{
    background-image: url(../../../assets/images/app-image2.png);
    background-repeat: no-repeat;
    background-size: 50px;
    padding-bottom: 30px;
  padding-top: 15px;
    margin-top: 50px;
    padding-left: 30px;
    padding-right: 30px;
   
    
h6{
    padding-left: 40px;
    padding-right: 35%;
    
}
}
#paragraph{
    padding-top: 10px;
}
.image1{
    background-image: url(../../../assets/images/app-image1.png);
    background-repeat: no-repeat;
    background-size: 50px;
    padding-bottom: 30px;
  padding-top: 10px;
    margin-top: 50px;
    padding-left: 30px;
    padding-right: 30px;
    h6{
        padding-left: 40px;
        padding-right: 35%;
        
        
        
    }
    
}
.price-tag{
    text-align: center;
    padding-top: 40px;
    padding-bottom: 40px;
    padding-left: 5%;
    padding-right: 5%;
    p{
        padding-top: 30px;
    }
}
.button-price{
    background-color: #146a6d;
    background-image: url(../../../assets/images/right-arrow.png);
    background-repeat: no-repeat;
    background-position: 10px;
    margin-left: 15px;
    position: absolute;
    height: 30px;
    width:30px;
    border-radius: 50%;
    border: none;
    outline: none;
}
@media only screen and (min-width:320px) and (max-width:720px){
    .passenger-app{
    background-size: auto;
    background-repeat: repeat;
    }
    .taxi-passenger{
      
        padding-top:80%;
        padding-left: 0%;
        padding-right: 0%;
        text-align: center;
        img{
            width:50%;
            height: 10%;
        }
        h3{
           
            padding-left: 0%;
            padding-right: 0%;
        }
        p{
            padding-left: 0%;
            padding-right: 0%;
          
        }
    }
    #phone1{
        display: none;
    }
    .image h6{
        padding-left: 40px;
        padding-right: 5%;
        
    }
    .image1 h6{
        padding-left: 40px;
        padding-right: 5%;
        padding-top: 0px;
        
    }
    .info-passengers{
      background-size: auto;
      background-repeat: repeat;
    }
    .custom-info{
       
        padding-left: 0px;
        padding-right: 0px; 
    }

}
@media only screen and (min-width:721px) and (max-width:1440px){
    .passenger-app{
    background-size: auto;
    background-repeat: repeat;
    }
    .taxi-passenger{
      
        padding-left: 0%;
        padding-right: 0%;
        
        img{
            padding-left: 30px;
            padding-bottom: 50px;
        }
    }
    .info-passengers{
      background-size: auto;
      background-repeat: repeat;
    }
    .custom-info{
       
        padding-left: 0px;
        padding-right: 0px; 
    }

}