/*
	Site Name: 
	URI: http:
	Description: This is the responsive css for 
	Version: 1.0
	Author: Aruna
	Author URI:
	Tags:

	---------------------------
	CUSTOM STYLES
	---------------------------

	TABLE OF CONTENTS
	---------------------------
	01.0 Smartphones (portrait and landscape)
	02.0 Smartphones (landscape)
	03.0 Smartphones (portrait)
	04.0 iPads (portrait and landscape)
	05.0 iPads (landscape)
	06.0 iPads (portrait)
	07.0 Desktops and laptops
	08.0 Large screens
	09.0 iPhone 4
	10.0 iPhone 5
	11.0 iPhone 6
	12.0 iPhone 6+
	13.0 Samsung Galaxy S3
	14.0 Samsung Galaxy S4
	15.0 Samsung Galaxy S5


*/


/* 01. Smartphones (portrait and landscape) ----------- */


/* 02.0 Smartphones (landscape) ----------- */

@media only screen and (min-width: 768px) and (max-width:687px) {
	/*navbar*/
	.navbar {
	
		width:100% !important;
	}
	.top-navbar{
		width:100%;
		background-color: #e8e8e8;
		padding: 0px;
		margin: 0px;
	}
	.top-ul{
		margin-right: 100px;
		float: right;
		margin-top: 10px;
	}
	.top-navbar img{
		width:20px;
		height:20px;
	}
	.clear{
		clear: both;
	}
	#colors{
		color: #103743;
		padding-left: 25px;
	}
	.top-navbar li{
		display: inline-block;
		padding-left:15px;
		color:#888888;
		font-weight: 400;
		font-size: 14px;
	}
	.navbar-brand img{
		padding-left: 200px;
		margin-top: 10px;
		margin-bottom: 10px;
	
	}
	.navbar-header{
	   
		padding: 0px;
		
	}
	.navbar-nav{
		float: right !important;
		padding-right: 65px;
	   
	}
	.navbar-collapse {
		flex-grow: 0 !important;
	}
	
	 .navbar-collapse li{
		padding-left: 20px;
		margin-right: 20px;
	}
	.navbar-collapse img{
		height: 40px;
		width:40px;
	}
	
	.vertical-line{
		border-right: 1px solid #dbe1e3;
	 	margin-top: 10px;
	 	margin-bottom: 10px;
	}
	.navbar{
		padding: 0px !important;
	}
	
	.navbar-collapse a{
		color: #918f8f !important;
		font-size: 13px;
		float: right;
		text-decoration-line: none;
	}
	.collapse .navbar-collapse a:hover,
	.collapse .navbar-collapse a:active{
		color: #103743 !important;
	}
	
	 

}