@import url('https://fonts.googleapis.com/css?family=Rubik:300,300i,400,400i,500,500i,700,700i,900,900i&subset=latin-ext');
.passenger-app{
    background-image: url(../../../assets/images/background-passangerapp.png);
    background-repeat: no-repeat;
    margin-top: 10%;
    padding-bottom: 50px;
}
.taxi-passenger{
    padding-top:100px;
    padding-left: 20%;
    padding-right: 20%;
    text-align: center;
    img{
        padding-left: 30px;
        padding-bottom: 50px;
        width:50%;
    }
    h3{
        color: #333333;
        font-weight: 700;
    }
    hr{
        width:30px;
        border: 2px solid #e1bb11;
        border-radius: 5px; 
    }
    p{
        color: #737272;
        padding-left: 10%;
        padding-right: 10%;
        padding-bottom: 0px;
    }
}
.info-passengers{
    background-image: url(../../../assets/images/lataxi-background.png);
    background-repeat: no-repeat;
    padding-bottom: 70px;
}
.custom-info{
    color: #ffffff;
    padding-left: 40px;
    padding-right: 40px;
    text-align: left;
    
    p{
        padding-right: 50px;
        font-size: 13px;
        
        padding-top: 0px;
    }
   
}
.image{
    background-image: url(../../../assets/images/app-image2.png);
    background-repeat: no-repeat;
    background-size: 50px;
    padding-bottom: 30px;
  padding-top: 10px;
    margin-top: 50px;
    padding-left: 30px;
    padding-right: 30px;
   
    
h6{
    padding-left: 40px;
    padding-right: 45%;
    
}
p{
    padding-right: 50px;
    font-size: 13px;
    
    padding-top: 0px;
 
}
}
.image1{
    background-image: url(../../../assets/images/app-image1.png);
    background-repeat: no-repeat;
    background-size: 50px;
    padding-bottom: 30px;
  padding-top: 10px;
    margin-top: 50px;
    padding-left: 30px;
    padding-right: 30px;
    h6{
        padding-left: 40px;
        padding-right: 45%;
        
        
        
    }
    
}
.price-tag{
    text-align: center;
    padding-top: 40px;
    padding-bottom: 40px;
    padding-left: 0px;
    padding-right: 0px;
}
.shot, .shot1{
    padding: 0px;
}
.passenger-price{
    padding-bottom: 40px;
}
.dis{
    position: absolute;
    top:-10px;
}
.button-price{
    background-color: #146a6d;
    background-image: url(../../../assets/images/right-arrow.png);
    background-repeat: no-repeat;
    background-position: 10px;
    margin-left: 15px;
    position: absolute;
    height: 30px;
    width:30px;
    border-radius: 50%;
    border: none;
    outline: none;
}
.button-price1{
    background-color: #146a6d;
    background-image: url(../../../assets/images/right-arrow.png);
    background-repeat: no-repeat;
    background-position: 10px;
    margin-left: 15px;
    position: absolute;
    top:10px;
    height: 30px;
    width:30px;
    border-radius: 50%;
    border: none;
    outline: none;
}

@media only screen and (min-width:320px) and (max-width:720px){
    .passenger-app{
       background-size: auto;
       background-repeat: repeat;
    }
    .taxi-passenger{
        padding-top:80%;
        padding-left: 0%;
        padding-right: 0%;
        text-align: center;
        img{
            padding-left: 0px;
            padding-bottom: 50px;
            width: 100%;
        }
        p{
            padding-left: 0px;
            padding-right: 0px;
        }
      
    }
    .info-passengers{
        background-size: auto;
        background-repeat: repeat;
    }
    .custom-info{
        color: #ffffff;
        padding-left: 30px;
        padding-right: 0px;
        text-align: left;
    }
    .image1{
        h6{
            padding-left: 40px;
            padding-right: 0%;
            
        }
    }
  .image{
    h6{
        padding-left: 40px;
        padding-right: 0%;
        
    }
  }
   .shot{
       padding: 20px;
   }
   .shot1{
       padding-left: 20px;
   }
   .dis{
    position: relative;
    top:0px;
}
    .button-price1{
        position: absolute;
        top:70px;
    }
       
}

@media only screen and (min-width:720px) and (max-width:1440px){
    .passenger-app{
       background-size: auto;
    }
    .taxi-passenger{
        padding-top:100px;
        padding-left: 0%;
        padding-right: 0%;
        text-align: center;
        /*img{
            padding-left: 0px;
            padding-bottom: 0px;
            width: 100%;
        }*/
      
    }
    .info-passengers{
        background-size: auto;
        background-repeat: repeat;
    }
    .custom-info{
        color: #ffffff;
        padding-left: 0px;
        padding-right: 0px;
        text-align: left;
    }
  
   /*.shot{
       padding: 20px;
   }
   .shot1{
       padding-left: 20px;
   }*/
   .dis{
    position: relative;
    top:0px;
}
    .button-price1{
        position: absolute;
        top:10px;
    }
    .button-price1{
        position: absolute;
        top:0px;
    }
}