<div class="passenger-app">
    <div class="container">
      <div class="row">
        <div class="col-xl-12">
          <div class="taxi-passenger">
            <img src="../../../assets/images/apple-system.png">
            
            <h3>The Taxi Dispatch System to rule them all</h3><hr>
            <p>We understand how valuable time is in a taxi booking company. That's why we designed our taxi Dispatch
              system with an emphasis on speed and saving as you much time as possible. Assign jobs to your drivers 
              effortlessly, fast and efficiently. Our dispatch system boosts communication, adds automatic notifications to
              drivers which means more compleated jobs and heigher incomes for your company!   
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <div class="info-passengers">
    <div class="container">
      <div class="row">
        <div class="col-xl-6">
          <div class="custom-info">
            <div class="image1"><h6>Makes management 
                easier and saves time</h6></div>
                <p>ompleting everyday tasks becomes easier and less time-consuming. In the admin panel you see all key dispatch features in one tab which allows you to react quicker and work faster.</p>
                <p>You can track every driver in real time on the map. Controlling all your bookings is easier than ever: add new jobs and dispatch the existing ones effectively with a single click, see the latest and most urgent jobs on top. There is no more need to write things down and go through your papers to find something. It,s all there, visible at aglance</p>
          </div>
        </div>
        <div class="col-xl-6">
            <div class="custom-info ">
              <div class="image"><h6>Makes management 
                  easier and saves time</h6></div>
                  <p>ompleting everyday tasks becomes easier and less time-consuming. In the admin panel you see all key dispatch features in one tab which allows you to react quicker and work faster.</p>
                  <p>You can track every driver in real time on the map. Controlling all your bookings is easier than ever: add new jobs and dispatch the existing ones effectively with a single click, see the latest and most urgent jobs on top. There is no more need to write things down and go through your papers to find something. It,s all there, visible at aglance</p>
                </div>
          </div>
  
     
        </div>
  
        <div class="row">
            <div class="col-xl-6">
              <div class="custom-info custom-info-1">
                <div class="image"><h6>Makes management 
                    easier and saves time</h6></div>
                    <p>ompleting everyday tasks becomes easier and less time-consuming. In the admin panel you see all key dispatch features in one tab which allows you to react quicker and work faster.</p>
                    <p>You can track every driver in real time on the map. Controlling all your bookings is easier than ever: add new jobs and dispatch the existing ones effectively with a single click, see the latest and most urgent jobs on top. There is no more need to write things down and go through your papers to find something. It,s all there, visible at aglance</p>
              </div>
            </div>
            <div class="col-xl-6">
                <div class="custom-info ">
                  <div class="image"><h6>Makes management 
                      easier and saves time</h6></div>
                      <p>ompleting everyday tasks becomes easier and less time-consuming. In the admin panel you see all key dispatch features in one tab which allows you to react quicker and work faster.</p>
                      <p>You can track every driver in real time on the map. Controlling all your bookings is easier than ever: add new jobs and dispatch the existing ones effectively with a single click, see the latest and most urgent jobs on top. There is no more need to write things down and go through your papers to find something. It,s all there, visible at aglance</p>
                </div>
              </div>
      
         
            </div>
    </div>
  </div>
  
  <div class="passenger-price">
    <div class="container">
      <div class="row">
        <div class="col-xl-12">
          <div class="price-tag">
            <p>Sound's easy enough? Thats because it is easy. And it gets even better-the Taxi Dispatch System will improve your work 
              experience in a variety of ways.
            </p>
            <p>The software has been developed based on feedback from experienced controllers. Thanks to their insight,
              we were able to optimize our system's for speed and efficiency. The many features work together seemlessly, producing a taxi software that 
              will help tour company reach the next level. 
            </p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xl-4">
          <p class="shot dis"><strong >What are some other features of the EasyTaxiOffice software? Find out, HERE</strong><button class="button-price1"></button></p>   
        </div>
        <div class="col-xl-4">
            <p class="shot"><strong>Try our software for 7 days for free, HERE</strong><button class="button-price"></button></p>    
          </div>
          <div class="col-xl-4">
              <p class="shot1"><strong>try the demo version, HERE</strong><button class="button-price"></button></p>   
            </div>
      </div>
    </div>
  </div>
