<div class="passenger-app">
    <div class="container">
      <div class="row">
        <div class="col-xl-12">
          <div class="taxi-passenger">
            <img src="../../../assets/images/driver-phone2.png">
            <img src="../../../assets/images/driver-phone1.png" id="phone1">
            <h3>Taxi Driver App the fastest way to communicate with your drivers </h3><hr>
            <p>Use more easy taxi office tools to succeed faster. Add the mobile Taxi Driver App to our Cab Booking and Taxi Dispatch System 
              to notably improve the communication between operators and drivers, maximize your company's efficiency and increase it's incomes.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <div class="info-passengers">
    <div class="container">
      <div class="row">
        <div class="col-xl-6">
          <div class="custom-info">
            <div class="image1"><h6>Operator track drivers with 
              high accuracy, in real time</h6></div>
              <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
          </div>
        </div>
        <div class="col-xl-6">
            <div class="custom-info ">
              <div class="image"><h6>Instatnt notifications</h6></div>
                <p id="paragraph">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
            </div>
          </div>
  
     
        </div>
  
        <div class="row">
            <div class="col-xl-6">
              <div class="custom-info custom-info-1">
                <div class="image"><h6>Simplicity is key</h6></div>
                  <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
              </div>
            </div>
            <div class="col-xl-6">
                <div class="custom-info ">
                  <div class="image"><h6>Instatnt notifications</h6></div>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                </div>
              </div>
      
         
            </div>
    </div>
  </div>
  
  <div class="passenger-price">
    <div class="container">
      <div class="row">
        <div class="col-xl-12">
          <div class="price-tag">
            <p>Adding a mobile component to your business model means adding a new dimension to it! At a affordable price, our software is a must have.
                Join our satisfied clients who, after enjoying the Cab Booking and Taxi Dispatch System, have ventured into the mobile app world with us.</p>
          
          <p><strong>Check our pricing</strong><button class="button-price"></button></p>    </div>
        </div>
      </div>
    </div>
  </div>