<div class="contact-main-division">
  <div class="container">
    <div class="row">
      <div class="col-xl-12">
        <div class="contact-information">
          <h3>Contact our professionals to get issues resolved</h3>
          <p>Our customers hate us because, we care too much for them</p>
          <hr>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xl-2"></div>
      <div class="col-xl-4">
        <div class="contact-input ">
          <input type="text" class="text-info" placeholder="Enter fullname">
        </div>
      </div>
      <div class="col-xl-4">
          <div class="contact-input ">
            <input type="text" class="text-info" placeholder="Enter email ID">
          </div>
        </div>
        <div class="col-xl-2"></div>
    </div>
    <div class="row">
      <div class="col-xl-2"></div>
        <div class="col-xl-4">
          <div class="contact-input ">
            <input type="text" class="text-info" placeholder="Enter Phone number">
          </div>
        </div>
        <div class="col-xl-4">
            <div class="contact-input ">
              <input type="text" class="text-info "id="but" placeholder="Enter OTP send to mobile"><button class="butn">Get OTP</button>
            </div>
          </div>
          <div class="col-xl-2"></div>
      </div>
      <div class="row">
        <div class="col-xl-2"></div>
        <div class="col-xl-8">
          <div class="contact-text">
            <textarea rows="4" cols="50" placeholder=" Type message here...."></textarea>
          </div>
        </div>
        <div class="col-xl-2"></div>
      </div>
      <div class="row">
        <div class="col-xl-4"></div>
        <div class="col-xl-2">
          <button class="btn-submit">SUBMIT</button>
        </div>
        <div class="col-xl-4"></div>
      </div>
  </div>
</div>

<div class="contact-map-division">
  <div class="container">
    <div class="row">
      <div class="col-xl-6">
        <div class="map-division">
         
<agm-map 
[latitude]="lat"
[longitude]="lng"
[zoom]="zoom"
[disableDefaultUI]="false"
[zoomControl]="false"
(mapClick)="mapClicked($event)">

<agm-marker 
    *ngFor="let m of markers; let i = index"
    (markerClick)="clickedMarker(m.label, i)"
    [latitude]="m.lat"
    [longitude]="m.lng"
    [label]="m.label"
    [markerDraggable]="m.draggable"
    (dragEnd)="markerDragEnd(m, $event)">
    
  <agm-info-window>
    <strong>InfoWindow content</strong>
  </agm-info-window>
  
</agm-marker>

<agm-circle [latitude]="lat + 0.3" [longitude]="lng" 
    [radius]="5000"
    [fillColor]="'black'"
    [circleDraggable]="true"
    [editable]="true">
</agm-circle>

</agm-map>
        </div>
      </div>
      <div class="col-xl-6">
        <div class="map-description">
          <h6>Corporate Office</h6>
          <p>Techware Software Solutions Pvt.Ltd, Ground Floor, Carnival Infopark, Phase 2, Kusumagiri[PO], Kakkanad, Kochi, India-682030</p>
          <h6>Call Us</h6>
          <p> <strong>Call us on:</strong>9811869727</p>
          <p><strong>Landline:</strong>(0240)6652355 (or) (0240)66523550</p>
          <p id="bottom"><strong>Write to us at:</strong>enquairy@techware.com</p>
          <h6>Connect with us on Social Media</h6>
          <img src="../../../assets/images/lataxi-fb.png">
          <img src="../../../assets/images/lataxi-twitter.png">
          <img src="../../../assets/images/lataxi-google.png">
          <img src="../../../assets/images/lataxi-linkedin.png">
          <img src="../../../assets/images/lataxi-youtube.png">
        </div>
      </div>
    </div>
  </div>
</div>