@import url('https://fonts.googleapis.com/css?family=Rubik:300,300i,400,400i,500,500i,700,700i,900,900i&subset=latin-ext');
.contact-main-division{
    background-image: url(../../../assets/images/lataxi-background.png);
    background-repeat: no-repeat;
    padding-bottom: 10%;
    padding-top: 13%;
    background-size: 100%;
}
.contact-information{
    text-align: center;
    margin-top: 60px;
    padding-left: 20%;
    padding-right: 20%;
    padding-bottom: 20px;
    h3{
        color: #ffffff;
        font-weight: 700;
    }
    p{
        color: #ffffff;
        padding-top: 10px;
    }
    hr{
        width:30px;
        border: 2px solid #e1bb11;
        border-radius: 5px; 
    }
}
.contact-input{
    padding-top: 30px;
    
    
}

input[type=text]{
    background-color: rgba(0,0,0,0.01);
    border:0.5px solid #d1d8da;
    width:100%;
    border-radius: 25px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 7px;
    padding-bottom: 7px;
    color: #d1d8da;
    outline: none;
}

.butn{
background-color: #146a6d;
border:none;
outline: none;
color: #d1d8da;
border-radius: 25px;
font-size: 13px;
position: absolute;
left: 75%;
top:36px;
padding-left: 10px;
padding-right: 10px;
padding-top: 3px;
padding-bottom: 3px;
}
.contact-text{
    padding-top: 20px;
    padding-left: 0px;
}
textarea{
    width:100%;
    background-color: rgba(0,0,0,0.01);
    border-radius: 10px;
    border:0.5px solid #d1d8da;
    outline: none;
}
::placeholder {
    color: #ffffff;
    opacity: 0.9;
    font-weight: 400; 
  }
.btn-submit{
    color: #ffffff;
    background-color: #146a6d;
    border:none;
    outline: none;
    position: absolute;
    left: 80%;
    border-radius: 25px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 40px;
}
.contact-map-division{
    padding-top: 50px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 50px;
}
.map-division img{
width:100%;
}
agm-map {
    height: 350px;
  }
  
  
  * {
    font-family: Lato;
  }
  
  a {
    color: #545454;
  }
.map-description{
    padding-left: 10px;
    padding-right: 150px;
    color: #828282;
    h6{
        color: #545454;
        font-weight: 700;
        font-size: 18px;
        padding-bottom: 10px;
    }
    img{
        padding-left: 10px;
        padding-top: 0px;
        width: 35px;
    }
    strong{
        color: #545454;
        padding: 0px;
    }
}
#bottom{
    padding-bottom: 20px;
}
@media only screen and (min-width:320px) and (max-width:720px){
    .contact-main-division{
        padding-top: 10%;
        background-repeat: repeat;
        background-size: auto;
    }
    .contact-information{
        text-align: center;
        margin-top: 40px;
        padding-top: 50%;
        padding-left: 0%;
        padding-right: 0%;
        h6{
            padding: 0px;
        }
        
    }
    .contact-input{
        padding-top: 20px;
       
        
        
    }
    .left-side{
        padding-left: 0%;
    
    }
    .right-side{
        padding-right: 0%;
    }
    input[type=text]{
        width:100%;
        
    }
    
    .butn{
    position: absolute;
    left: 70%;
    top:26px;
   
    }
    .contact-text{
        padding-top: 20px;
        padding-left: 0px;
    }
    textarea{
        width:100%;
    }
    .btn-submit{
        
       position: relative;
       left: 100px;
    }
    .contact-map-division{
        padding-top: 50px;
        padding-left: 20px;
        padding-right: 20px;
        padding-bottom: 50px;
    }
    .map-division img{
    width:100%;
    }
    .map-description{
        padding-top: 50px;
        padding-left: 10px;
        padding-right: 10px;
        h6{
            color: #545454;
            font-weight: 700;
        }
        img{
            padding: 5px;
        }
        strong{
            color: #545454;
        }
    }
}

@media only screen and (min-width:720px) and (max-width:1440px){
    .contact-main-division{
        padding-top: 0%;
        background-repeat: repeat;
        background-size: auto;
    }
    .contact-information{
        text-align: center;
        margin-top: 0px;
        padding-top: 25%;
        padding-left: 0%;
        padding-right: 0%;
        h6{
            padding: 0px;
        }
        
    }
    .contact-information{
        text-align: center;
        margin-top: 40px;
    }
    .btn-submit{
        
        position: relative;
        left: 40%;
        border-radius: 25px;
        padding-left: 15px;
        padding-right: 15px;
        padding-top: 5px;
        padding-bottom: 5px;
        margin-top: 40px;
    }
    /*.contact-input{
        padding-top: 20px;
       
       
        
        
    }
    .left-side{
        padding-left: 0%;
    
    }
    .right-side{
        padding-right: 0%;
    }
    input[type=text]{
        width:70%;
        
    }
    
    .butn{
    position: absolute;
    left: 70%;
    top:26px;
   
    }
    .contact-text{
        padding-top: 20px;
        padding-left: 0px;
    }
    textarea{
        width:80%;
    }
    .btn-submit{
        
       position: relative;
       left: 100px;
    }*/
    .contact-map-division{
        padding-top: 50px;
        padding-left: 20px;
        padding-right: 20px;
        padding-bottom: 50px;
    }
    .map-division img{
    width:100%;
    }
    .map-description{
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 50px;
        h6{
            color: #545454;
            font-weight: 700;
        }
        img{
            padding: 5px;
        }
        strong{
            color: #545454;
        }
    }
}
