@import url('https://fonts.googleapis.com/css?family=Rubik:300,300i,400,400i,500,500i,700,700i,900,900i&subset=latin-ext');
.lataxi-top-division{
    background-image: url(../../../assets/images/landing-back1.png);
    background-repeat: no-repeat;
    margin-top: 10%;
    background-size: 100%;
    padding-bottom: 180px;
    width:100%;
}
.lataxi-heading{
    padding: 150px;
    margin: 0px;
}
.lataxi-heading h1{
    color: #ffffff;
    font-weight: 700;
    padding: 0px;
    margin: 0px;
}
.bttn{
    color: #ffffff;
    background-color: #157376;
    margin-top: 60px;
    border-radius: 35px;
    width:20%;
    padding-top: 8px;
    padding-left: 15px;
   
    padding-bottom: 6px;
    text-align: left;
    outline: none;
    border: none;
}
.arrow{
    float: right;
    background-color: #0d5456;
    border-radius: 50%;
    width:30px;
    height: 30px;
    
    background-image: url(../../../assets/images/right-arrow.png);
    background-repeat: no-repeat;
    background-position: 10px;
}
/*modal*/

.modal-content1{
    width:120%!important;
    position: relative !important;
    top: 40px !important;
    left: 0px !important;
    border-radius: 15px !important;
    padding-left: 30px;
    padding-right: 50px;
    padding-bottom: 30px;
    padding-top: 30px;

}
.close{
    background-color: #dad9d9;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    position: relative;
    top:-30px;
    left: 50px;
    outline: none;
    
}
.popup-division{
    text-align: center;
    padding: 0px;
    margin: 0px;
    h4{
        padding-left: 20px;
    }
}
.popup-division hr{
    width:30px;
    border: 2px solid #e1bb11;
    border-radius: 5px;
}

input[type=text]{
    border:none;
    text-align: left;
    padding-left: 10px;
    padding-top: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin: 10px;
    border: 1px solid #999999;
    border-radius: 25px;
    width: 100%;
    outline: none;
}
.infos1{
    padding-bottom: 20px;
}
.container1 {
    display: block;
    position: relative;
    padding-left: 5px;
    margin-bottom: 0px;
    cursor: pointer;
    font-size: 14px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  .container1 input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  .checkmark {
    position: absolute;
    top: 5px;
    left: 25px;
    height: 15px;
    width: 15px;
    border-radius: 3px;
    border:2px solid #555555;
  }
 
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  .container input:checked ~ .checkmark:after {
    display: block;
  }
  .container .checkmark:after {
    left: 3px;
    top: 0px;
    width: 5px;
    height: 10px;
    border: solid #000;
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }  

.buttn{
    margin-top: 30px;
    color: #ffffff;
    background-color: #103743;
    border: none;
    border-radius: 25px;
    padding-left: 25px;
    padding-bottom: 8px;
    padding-top: 8px;
    padding-right: 25px;
    font-size: 15px;
    font-size: 13px;
    outline: none;
}

.lataxi-services{
    padding-left: 20%;
    padding-right: 20%;
    
}
.lataxi-services h3{
    color: #103743;
    font-weight: 500;
    text-align: center;
    padding-top: 50px;

}
.lataxi-services hr{
    width:30px;
    border: 2px solid #e1bb11;
    border-radius: 5px;
}
.line{
    border-right: 01px solid #dcdcdc;
    margin-top: 20px;
    margin-bottom: 40px;
}
.container3 {
    width:100%;
    margin: 0 auto;
a{
    color: #393939;
    text-decoration-line: none;
}
li{
    padding: 30px;
}
}
.tab-content{
    padding-top: 20px;
    padding-bottom: 10%;
}
.container3 ul{
    padding-left: 25%;
    img{
        height: 50px;
        width:60px;
    }
    #tab1,#tab2{
        margin-left: 15px;
    }
    #tab3{
        margin-left: 25px;
    }
}

.photos{
    float: left;
    padding-left: 35%;
    padding-top: 50px;
    img{
        width: 90%;
        height: 50%;
        
    }
}
.details {
    padding-top:50px;
    h6{
        padding-left: -10px;
    }
    hr{
    width:30px;
    border: 2px solid #e1bb11;
    border-radius: 5px;
    position: relative;
    left: -250px;
}
ul{
    padding-left: 15px;
}
li{
    padding-bottom: 5px;
    padding-top: 0px;
    padding-left: 0px;
    padding-right: 0px;
}
}
.nav-tabs{
    border-bottom: none !important;
}
.buttons{
    width:30%;
    margin: 0 auto;
    padding-left: 14%;
}
 .btn-prev{
     border:none;
     outline: none;
     background-image: url(../../../assets/images/black-left.png);
     background-repeat: no-repeat;
     background-size: 30%;
     background-position: 10px;
     width:30px;
     height:30px;
     border-radius: 50%;
     margin-left: 30px;
    
 }
 .btn-next{
    border:none;
    outline: none;
    background-image: url(../../../assets/images/black-right.png);
    background-repeat: no-repeat;
    background-size: 30%;
    background-position: 10px;
    width:30px;
    height:30px;
    border-radius: 50%;
    margin-left: 30px;
  
}
.next-level{
    background-color: #eceff0;
    
}
.lataxi-levels{
    padding-top:50px;
    padding-left: 25%;
    padding-right: 20%;
    text-align: center;
}
.images-line{
    border-right: 1px solid #d8dadb;
    padding-top: 10px;
    padding-right: 20px;
    padding-bottom: 50px;
}
.hr-line hr{
border:0.5px solid #d8dadb!important;
width:650px !important;
}
.lataxi-levels h3{
    font-weight: 700;
}
.lataxi-levels hr{
    width:30px;
    border: 2px solid #e1bb11;
    border-radius: 5px;
}
.level-images img{
    width:100px;
    height: 100px;
}
.lataxi-business{
    background-image: url(../../../assets/images/landing-back2.png);
    background-repeat: no-repeat;
    color: #ffffff;
    text-align: center;
    padding-bottom: 12%;
    background-size: 100%;
}
.ondemand-business{
    margin-top:50px;
    padding-left: 30%;
    padding-right: 30%;
 p{
    margin-top: 20px;
}
 hr{
    width:30px;
    border: 2px solid #e1bb11;
    border-radius: 5px; 
}
}
.rent-image{
    padding-top: 30px;
}
.rent-image img{
    height: 80px;
    width: 80px;
    margin-left: 30px;
}
.button1,.button2{
    border-radius: 25px;
    width: 200px;
    font-size: 13px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 8px;
    padding-bottom: 8px;
    font-weight: 600;
    margin-top: 20px;
    color: #ffffff;
    background-color: #388396;
    border: none;
    outline: none;
}

.lataxi-worldwide{
    background-image: url(../../../assets/images/landing-back3.png);
    background-repeat: no-repeat;
    width:100%;
    background-size: 100%;
}
.sub-worldwide{
    margin-top:40px;
    text-align: center;
 h5{
     margin-top: 20px;
    color: #242424;
    font-weight: 800;
}
p{
    margin-top: 10px;
    color: #484747;
    font-weight: 500;
    margin-bottom: 40px;
}

}

@media only screen and (min-width:320px) and (max-width:720px){
    .lataxi-top-division{
        width:100%;
      padding-top: 40%;
      padding-left: 0px;
      padding-right: 0px;
      background-size: unset;
     
    }
    .lataxi-heading{
        
        padding-left: 10%;
        padding-right: 10%;
        margin: 0px;
    }
    .lataxi-heading h1{
        padding-top: 50px;
        font-size: 25px;
    }
    
    .bttn{
        
        margin-top: 100px;
        border-radius: 35px;
        width:70%;
        padding-left: 15px;
        padding-top: 5px;
        padding-bottom: 5px;
       
    }
   
      .modal-content1{
          width:100%!important;
        }
        .lataxi-services{
            padding-left: 0%;
            padding-right: 0%;
            
        }
       
       
        .line{
           display: none;
        }
        .container3 {
           width:100%;
           margin: 0 auto;
      
        li{
            padding: 20px;
        }
        }
        .tab-content{
            padding-top: 20px;
            padding-bottom: 10%;
        }
        .container3 ul{
            padding-left: 14%;
           
            #tab1,#tab2{
                margin-left: 15px;
            }
            #tab3{
                margin-left: 30px;
            }
        }
        
        .photos{
            float: left;
            padding-left: 0%;
            padding-top: 50px;
            img{
                width: 100%;
                height: 50%;
                
            }
        }
        .details {
            padding-top:50px;
            h6{
                padding-left: 40px;
            }
            hr{
            width:30px;
            border: 2px solid #e1bb11;
            border-radius: 5px;
            position: relative;
            left: -90px;
        }
        ul{
            padding-left: 55px;
        }
        li{
            padding-bottom: 5px;
            padding-top: 0px;
            padding-left: 0px;
            padding-right: 0px;
        }
        }
        
       .buttons{
           width:100%;
       }
        .lataxi-levels{
            padding-top:50px;
            padding-left: 0%;
            padding-right: 0%;
            text-align: center;
        }
        .images-line{
           border-right: none;
        }
        .hr-line hr{
        display: none;
        }
        .lataxi-business{
            padding-top: 50px;
            background-size: auto;
        }
        .rent-image{
            padding: 10px;
            margin: 0px;
        }
        .rent-image img{
            margin-left: 10%;
            margin-right: 10%;
        }
        .ondemand-business{
            margin-top:0px;
            padding-left: 0%;
            padding-right: 0%;
         p{
            margin-top: 0px;
        }
       
        }
      
        
        .lataxi-worldwide{
            
            width:100%;
            background-size: auto;
        }
     .checkmark{
        position: absolute;
        top: 3px;
        left: 10px;
     }  

}
@media only screen and (min-width:721px) and (max-width:1025px){
    .lataxi-top-division{
        width:100%;
      padding-top: 70px;
      padding-left: 0px;
      padding-right: 0px;
      padding-bottom: 10%;
      
      background-size: none;
     
    }
    .lataxi-heading{
        padding-top:0px;
        padding-left: 0%;
        padding-right: 0%;
        margin: 0px;
    }
    .row{
        flex-wrap: nowrap !important;
    }
    
    .bttn{
        
        margin-top: 50px;
        border-radius: 35px;
        width:25%;
        padding-left: 15px;
        padding-top: 5px;
        padding-bottom: 5px;
       
    }
   
      .modal-content1{
          width:100%!important;
        }
        .lataxi-services{
            padding-left: 0%;
            padding-right: 0%;
            
        }
       
       
        .line{
           display: none;
        }
        .container3 {
            width: 100%;
            margin: 0 auto;
      
        li{
            padding: 20px;
        }
        }
        .tab-content{
            padding-top: 20px;
            padding-bottom: 10%;
        }
        .container3 ul{
            padding-left: 5%;
           
            #tab1,#tab2{
                margin-left: 15px;
            }
            #tab3{
                margin-left: 30px;
            }
        }
        
        .photos{
            float: left;
            padding-left: 35%;
            padding-top: 50px;
            img{
                width: 100%;
                height: 50%;
                
            }
        }
        .details {
            padding-top:50px;
            h6{
                padding-left: 40px;
            }
            hr{
            width:30px;
            border: 2px solid #e1bb11;
            border-radius: 5px;
            position: relative;
            left: -170px;
        }
        ul{
            padding-left: 55px;
        }
        li{
            padding-bottom: 5px;
            padding-top: 0px;
            padding-left: 0px;
            padding-right: 0px;
        }
        }
        
       
       
        .lataxi-levels{
            padding-top:50px;
            padding-left: 0%;
            padding-right: 0%;
            text-align: center;
        }
        .images-line{
           border-right: none;
        }
        .hr-line hr{
        display: none;
        }
        .lataxi-business{
            padding-top: 50px;
            background-size: auto;
        }
        .rent-image{
            padding: 0px;
            margin-left: 100px;
    margin-right: 100px;
        }
        .rent-image img{
            margin-left: 10%;
            margin-right: 10%;
        }
        .ondemand-business{
            margin-top:0px;
            padding-left: 0%;
            padding-right: 0%;
         p{
            margin-top: 0px;
        }
       
        }
      
        
        .lataxi-worldwide{
            
            width:100%;
            background-size: auto;
        }
        .checkmark{
            position: absolute;
            top: 3px;
            left: 0px;
         } 
        
}
@media only screen and (min-width:768px) and (max-width:876px){
    .lataxi-top-division{
      padding-top: 40px;
      background-size: 100%;
      padding-bottom: 0px;
    }
    .lataxi-heading{
        padding-top:80px;
        padding-left: 0%;
        padding-right: 0%;
        margin: 0px;
        h1{
            font-size: 15px;
        }
    }
    .row{
        flex-wrap: nowrap !important;
    }
    
    .bttn{
        
        margin-top: 50px;
        border-radius: 35px;
        width:25%;
        padding-left: 15px;
        padding-top: 5px;
        padding-bottom: 5px;
       
    }
   
      .modal-content1{
          width:100%!important;
        }
        .lataxi-services{
            padding-left: 0%;
            padding-right: 0%;
            
        }
       
       
        .line{
           display: none;
        }
        .container3 {
            width: 100%;
            margin: 0 auto;
      
        li{
            padding: 20px;
        }
        }
        .tab-content{
            padding-top: 20px;
            padding-bottom: 10%;
        }
        .container3 ul{
            padding-left: 20%;
           
            #tab1,#tab2{
                margin-left: 15px;
            }
            #tab3{
                margin-left: 30px;
            }
        }
        
        .photos{
            float: left;
            padding-left: 35%;
            padding-top: 50px;
            img{
                width: 100%;
                height: 50%;
                
            }
        }
        .details {
            padding-top:50px;
            h6{
                padding-left: 40px;
            }
            hr{
            width:30px;
            border: 2px solid #e1bb11;
            border-radius: 5px;
            position: relative;
            left: -100px;
        }
        ul{
            padding-left: 55px;
        }
        li{
            padding-bottom: 5px;
            padding-top: 0px;
            padding-left: 0px;
            padding-right: 0px;
        }
        }
        .buttons{
            width:40%;
           
        }
        .btn-prev{
            margin-left: 100px;
           
        }
        .btn-next{
          
           margin-left: 30px;
         
       }
       
       
        .lataxi-levels{
            padding-top:50px;
            padding-left: 0%;
            padding-right: 0%;
            text-align: center;
        }
        .images-line{
           border-right: none;
        }
        .hr-line hr{
        display: none;
        }
        .lataxi-business{
            padding-top: 50px;
            background-size: auto;
        }
        .rent-image{
            padding: 0px;
            margin-left: 10px;
    margin-right: 10px;
        }
        .rent-image img{
            margin-left: 5%;
            margin-right: 5%;
        }
        .ondemand-business{
            margin-top:0px;
            padding-left: 0%;
            padding-right: 0%;
         p{
            margin-top: 0px;
        }
       
        }
      
        
        .lataxi-worldwide{
            
            width:100%;
            background-size: auto;
        }
        .checkmark{
            position: absolute;
            top: 3px;
            left: 0px;
         } 
        
}
@media only screen and (min-width:360px) and (max-width:400px){
    .modal-content1{
        width:100%!important;
      }
      .container1{
          padding-left: 10px;
      }
    .checkmark{
        position: absolute;
        left: 0px;
    }
}
@media only screen and (min-width:1024px) and (max-width:1030px){
    .container3 ul{
        padding-left: 25%;
       
        #tab1,#tab2{
            margin-left: 15px;
        }
        #tab3{
            margin-left: 30px;
        }
    }
    .details ul{
        padding: 10%;
    }
    .buttons{
        width:40%;
       
    }
    .btn-prev{
        margin-left: 160px;
       
    }
    .btn-next{
      
       margin-left: 30px;
     
   }
}