<div class="lataxi-top-division">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="lataxi-heading">
          <h1>LOREM IPSUM IS<br> DUMMY TEXT OF THE</h1>
          <button class="bttn" data-toggle="modal" data-target="#signin">Request Demo<div class="arrow"></div></button>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container modal-container">
    <div class="modal fade modal-starting" id="signin" role="dialog">
        
      <div class="modal-dialog">
         
        <div class="modal-content modal-content1">
            
          <div class="modal-body">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
      <div class="popup-division">
         
        <h4>Lataxi Trial</h4>
        <hr>
        <div class="infos">
          <input type="text" class="information" placeholder="First name">
        </div>
        <div class="infos">
            <input type="text" class="information" placeholder="Last name">
          </div>
          <div class="infos">
              <input type="text" class="information" placeholder="Phone number">
            </div>
            <div class="infos">
                <input type="text" class="information" placeholder="Email ID">
              </div>
              <div class="infos infos1">
                  <input type="text" class="information" placeholder="Company name">
                </div>
                <label class="container1">I would like to receive updates/news regarding this product
                  <input type="checkbox">
                  <span class="checkmark"></span>
                </label>
                <button class="buttn">START A TRIAL</button>
      </div>
          </div> 
        </div>
      </div>
    </div>
  </div>


  <div class="container3">
      <div class="lataxi-services">
          <h3>What Is Our Services</h3><hr>
          </div>
    
      <ul class="nav nav-tabs" id="mytabs" role="tablist">
        <li class="active"><a data-toggle="tab" href="#admin"><img src="../../../assets/images/landing-mid1.png" id="tab1"> <p>Admin Panel</p></a></li><div class="line"></div>
        <li><a data-toggle="tab" href="#driver"><img src="../../../assets/images/landing-mid2.png" id="tab2"><p>Driver App</p></a></li><div class="line"></div>
        <li><a data-toggle="tab" href="#passenger"><img src="../../../assets/images/landing-mid3.png" id="tab3"><p>Passenger App</p></a></li><div class="line"></div>
        <li><a data-toggle="tab" href="#carpool"><img src="../../../assets/images/landing-mid4.png" id="tab4"><p>Car Pool</p></a></li>
      </ul>
    
      <div class="tab-content">
        
        <div id="admin" class="tab-pane active">
            <div class="container">
                <div class="row">
                  <div class="col-xl-6">
          <div class="photos">
            <img src="../../../assets/images/apple-system2.png">
          </div>
          </div>
          <div class="col-xl-6">
          <div class="details">
          <h6>Admin Panel</h6><hr>
          <ul>
              <li>Can Manage User and Driver</li>
              <li>View and Filter Ride History</li>
              <li>Promocode Management</li>
              <li>Region Based Taxi type Management</li>
              <li>Car type and Driver document Management</li>
              <li>Review Management</li>
              <li>100% Customizable</li>
            </ul>
        </div>
        </div>
        </div>
        </div>
        </div>
        <div id="driver" class="tab-pane fade">
          <div class="container">
            <div class="row">
              <div class="col-xl-6">
            <div class="photos">
                <img src="../../../assets/images/apple-system2.png">
              </div>
              </div>
              <div class="col-xl-6">
              <div class="details">
              <h6>Admin Panel</h6><hr>
              <ul>
                <li>Can Manage User and Driver</li>
                <li>View and Filter Ride History</li>
                <li>Promocode Management</li>
                <li>Region Based Taxi type Management</li>
                <li>Car type and Driver document Management</li>
                <li>Review Management</li>
                <li>100% Customizable</li>
              </ul>
            </div>
        </div>
        </div>
        </div>
        </div>
        <div id="passenger" class="tab-pane fade">
          <div class="container">
            <div class="row">
              <div class="col-xl-6">
            <div class="photos">
                <img src="../../../assets/images/apple-system2.png">
              </div>
              </div>
              <div class="col-xl-6">
              <div class="details">
              <h6>Admin Panel</h6><hr>
              <ul>
                  <li>Can Manage User and Driver</li>
                  <li>View and Filter Ride History</li>
                  <li>Promocode Management</li>
                  <li>Region Based Taxi type Management</li>
                  <li>Car type and Driver document Management</li>
                  <li>Review Management</li>
                  <li>100% Customizable</li>
                </ul>
            </div>
        </div>
        </div>
        </div>
        </div>
        <div id="carpool" class="tab-pane fade">
          <div class="container">
            <div class="row">
              <div class="col-xl-6">
            <div class="photos">
                <img src="../../../assets/images/apple-system2.png">
              </div>
              </div>
              <div class="col-xl-6">
              <div class="details">
              <h6>Admin Panel</h6><hr>
              <ul>
                <li>Can Manage User and Driver</li>
                <li>View and Filter Ride History</li>
                <li>Promocode Management</li>
                <li>Region Based Taxi type Management</li>
                <li>Car type and Driver document Management</li>
                <li>Review Management</li>
                <li>100% Customizable</li>
              </ul>
            </div>
        </div>
        </div>
        </div>
        </div>
        <div class="buttons">
        <button type="button" id="prev" class="btn-prev "></button>
      <button type="button" id="next" class="btn-next "></button>
      </div>
      </div>
      
    </div>
 


  <div class="next-level">
    <div class="container">
      <div class="row">
        <div class="col-xl-12">
          <div class="lataxi-levels">
            <h3>Take your On demand taxi rental business to next level with Lataxi</h3><hr>
            <div class="row">
              <div class="col-xl-4">
                <div class="level-images images-line">
                  <img src="../../../assets/images/landing-img1.png">
                  <p>24/7 online access</p>
                </div>
              </div>
              <div class="col-xl-4">
                  <div class="level-images images-line">
                    <img src="../../../assets/images/landing-img2.png">
                    <p>Advanced technology</p>
                  </div>
                </div>
                <div class="col-xl-4">
                    <div class="level-images">
                      <img src="../../../assets/images/landing-img3.png">
                      <p>Easy user management</p>
                    </div>
                  </div>

            </div>
            <div class="hr-line">
            <hr>
            </div>
            <div class="row">
                <div class="col-xl-4">
                  <div class="level-images images-line">
                    <img src="../../../assets/images/landing-img4.png">
                    <p>On-demand taxi booking services</p>
                  </div>
                </div>
                <div class="col-xl-4">
                    <div class="level-images images-line">
                      <img src="../../../assets/images/landing-img5.png">
                      <p>Filter ride history</p>
                    </div>
                  </div>
                  <div class="col-xl-4">
                      <div class="level-images">
                        <img src="../../../assets/images/landing-img6.png">
                        <p>Easy fare estimation</p>
                      </div>
                    </div>
  
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="lataxi-business">
    <div class="container">
      <div class="row">
      <div class="col-xl-12">
        <div class="ondemand-business">
          <h3>Ready for on-demand cartaxi rental business?</h3>
          <p>We would like to hear from you</p><hr>
          <div class="row">
            
            <div class="col-xl-6">
              <div class="rent-image">
              <img src="../../../assets/images/rent1.png">
              <button class="button1">TAKE A TEST DRIVE</button>
              </div>
            </div>
           
            <div class="col-xl-6">
              <div class="rent-image">
                <img src="../../../assets/images/rent2.png">
                <button class="button2">WHATSAPP US ON</button>
            </div>
            </div>
           
          </div>
        </div>

      </div>
      </div>
    </div>
  </div>

  <div class="lataxi-worldwide">
    <div class="container">
      <div class="row">
        <div class="col-xl-12">
          <div class="sub-worldwide">
            <h5>RUN YOUR CAR TAXI BUSINESS MANAGEMENT TO WORLDWIDE</h5>
            <p>Harvest more from your online taxi solution and implant your taxi service to international standards</p>
          </div>
        </div>
      </div>
    </div>
  </div>